.jumbotron{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 1%;
  background-color:black;
}
p{
  font-size: 60px;
  text-align: center;
  color:white;
}
#title{
  color: red;
  font-size: 110px;
}
